
@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1497623144087'); /* IE9*/
  src: url('./iconfont.eot?t=1497623144087#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1497623144087') format('woff'), /* chrome, firefox */
  url('./iconfont.ttf?t=1497623144087') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg?t=1497623144087#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e61a"; }

.icon-dizhi:before { content: "\e6d7"; }

.icon-you:before { content: "\e6da"; }

.icon-tuihuo:before { content: "\e6ec"; }

.icon-xiaoxi:before { content: "\e60e"; }

.icon-fahuo-copy:before { content: "\e603"; }

.icon-pingjia:before { content: "\e645"; }

.icon-zuanshi:before { content: "\e680"; }

.icon-fahuo:before { content: "\e60d"; }

.icon-pay:before { content: "\e6dd"; }

.icon-qy_bdfw_9:before { content: "\e618"; }

